<!DOCTYPE html>
<html>
    <head>
        <meta "charset"="utf-8">
        <title>{{ currentPageTitle }}</title>
    </head>
    <body>
        <h1>{{ currentPageTitle }}</h1>
        <p>{{ maintanceMessage }}</p>
    </body>
</html>